<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Checkboxer</title>
</head>
<body>
  <img src="https://thepracticaldev.s3.amazonaws.com/i/p1pc9t403wg0zqi1ktjr.png"><img>
  <br />
  <a href="/template/new">Perform Check</a>
  <%# <a href="/template/new">Set Up Instructions</a> %>
</body>
</html>
