<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Checkboxer</title>
</head>
<body>
  <h1>Checkbo<strong>x</strong>er</h1>
  <br />
  <a href="/template/new">Perform Check</a>
  <%# <a href="/template/new">Set Up Instructions</a> %>
</body>
</html>
