This is a checklist...

<form method="POST" action="/templates">
  <label>
    <input name='checklist_item' type='checkbox' />request a change
  </label>

  <input type="submit" name="Submit" />
</form>
