<h1>This is a checklist...</h1>
<br />

<form method="POST" action="/templates">
  <label>
    <input name='checklist_item' type='checkbox' />request a change
  </label>

  <br />
  
  <input type="submit" name="Submit" />
</form>
