<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../style.css">
  <title>Checkboxer</title>
</head>
<body>
  <img src="https://thepracticaldev.s3.amazonaws.com/i/p1pc9t403wg0zqi1ktjr.png"><img>
  <br />
  Check any box where your requirements aren't met.
  <br /><br />
  <form method="POST" action="/templates">
    <% @checklist.each do |check| %>
      <label class="checkbox">
      <input name='checklist_item[]' type='checkbox' value='<%= check.request %>'/><%= check.requirement %>
      <span class="check"></span>
      </label><br />
    <% end %>
    <br />
    Click submit to generate your custom template!
    <br /><br />
    <input class="button" type="submit" name="Submit" />
  </form>
</body>
</html>
