<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Checkboxer</title>
</head>
<body>
  <h1>Checkbo<strong>x</strong>er</h1>
  <br />
  <% if @choice %>
    The following corrections are requested:
    <br /><br />
      <p><%= @choice.join('<br /><br />') %></p>
  <% else %>
    There are no corrections.
  <% end %>
  </body>
</html>
