/* CSS reset */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Checkboxer styling */

@media screen and (max-width : 600px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: #FF00FF;
    font-size: 3em;
    text-align: center;
    font-weight: 400;
    display: block;
    margin-top: 0;
  }

  .X {
    font-weight: 900
  }

  img {
    width: 50px;
    display: block;
  }
}

@media screen and (min-width : 600px) {
  header {
    flex-direction: row;
    justify-content: center;
  }

  h1 {
    color: #FF00FF;
    font-size: 60px;
    text-align: center;
    font-weight: 400;
    display: inline-block;
  }

  .X {
    font-weight: 900
  }

  img {
    width: 50px;
    display: inline-block;
  }
}


body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.button {
  border: 1px solid #000000;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  display: block;
  width: 40%;
  max-width: 250px;
  margin: auto;
  background-color: #EEEEEE;
  font-family: sans-serif;
  font-size: 18px;
  color: #000000;
}

.button:hover {
  box-shadow: 3px 3px 3px #00FF11;
  color: #FFFFFF;
  background-color: #FF00FF;
  font-family: sans-serif;
  font-size: 18px;
}

label {
  display: block;
  width: 40%;
  max-width: 250px;
  margin: auto;
  text-align: left;
}

p {
  display: block;
  width: 60%;
  margin: auto;
  text-align: left;
  color: #888888;
  font-size: 14px;
  line-height: 1.6em;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #EEEEEE;
  border: 1px solid #000000;
}

.checkbox:hover input ~ .check {
  background: repeating-linear-gradient(
    45deg,
    #FF00FF,
    #FF00FF 5px,
    #FFBFF5 5px,
    #FFBFF5 10px
  );
}

.checkbox input:checked ~ .check {
  background-color: #FF00FF;
}

.check:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .check:after {
  display:block;
}

.checkbox .check:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #FFFFFF;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

footer {
  color: #000000;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width:100%;
  line-height: 2em;
}

.footlink {
  color: #000000;
  padding-bottom: 2px;
  border-bottom: 1px solid #000000;
  text-decoration: none;
}

.footlink:hover {
  color: #FF00FF;
  border-color: #00FF11;
}
